.main-trade-btn {
  margin-bottom: 1.2rem;
  padding: 0.7rem 2.2rem;
  font-size: 1.09rem;
  border-radius: 8px;
  background: linear-gradient(90deg, #13d47e, #12a7fe);
  color: #fff;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}
.main-trade-btn:hover {
  background: linear-gradient(90deg, #12a7fe, #13d47e);
}